.auth {
	height: 100%;
}

.auth p {
	font-size: 8vw;
	line-height: 1.18;
	font-weight: 800;
	background: linear-gradient(90deg, #000, #AD77B6, #000);
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px white;
	/* border: color 2px white; */
}


.custom-btn {
	background-color: #AD77B6;
	color: white;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
	height: auto !important;
	border-radius: 20px !important ;
	font-size: 1.2em;
	text-transform: none;
}

.custom-btn:hover {
	background-color: transparent;
}