html, body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(51, 3, 105), rgb(138, 0, 80));
  transition: background 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: background;
}



